<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">
    
    <ui:define name="metadata">
        <ui:param name="title" value="Список опросов"/>
        
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }
        </style>
    </ui:define>

    <ui:define name="description">
        Создание, редактирвание, удаление опросов
    </ui:define>

    <ui:define name="body">
        <h:form>
        	<p:focus context="@form"/>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton action="/car-form?faces-redirect=true" icon="fa fa-plus"
                                         value="New" styleClass="btn-primary"/>
                        <p:spacer width="5"/>
                        <p:commandButton value="Delete Selected" icon="fa fa-trash" styleClass="btn-danger"
                                         action="#{carListMB.delete}"
                                         disabled="#{empty carListMB.selectedCars or carListMB.selectedCars.size() == 0}"
                                         process="@this" update="@form"
                                         >
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="View selected" update="@(.ui-dialog)" styleClass="btn-info"
                                         disabled="#{empty carListMB.selectedCars or carListMB.selectedCars.size() == 0}"
                                         oncomplete="PF('selectedCars').show()" icon="fa fa-search"/>
                    </div>

                    <p:splitButton value="New" action="/car-form?faces-redirect=true"
                                   icon="fa fa-plus"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Delete Selected" action="#{carListMB.delete}"
                                    process="@this" update="@form"
                                    disabled="#{empty carListMB.selectedCars or carListMB.selectedCars.size() == 0}"
                                    icon="fa fa-trash">
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:menuitem value="View selected" update="@(.ui-dialog)"
                                    oncomplete="PF('selectedCars').show()"
                                    disabled="#{empty carListMB.selectedCars or carListMB.selectedCars.size() == 0}"
                                    icon="fa fa-search"
                                    />
                    </p:splitButton>

                    <p:separator/>
                    <p:dataTable widgetVar="carsTable" var="c" value="#{carListMB.cars}" rows="5"
                                 rowKey="#{c.id}" lazy="true" paginator="true"
                                 filteredValue="#{carListMB.filteredValue}"
                                 paginatorPosition="bottom" selection="#{carListMB.selectedCars}"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                                 >

                        <p:ajax event="rowSelectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselectCheckbox" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowSelect" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="rowUnselect" update="@(.ui-button, .ui-confirm-dialog)"/>
                        <p:ajax event="toggleSelect" update="@(.ui-button, .ui-confirm-dialog)"/>

                        <f:facet name="header">
                            Find Car by id: <p:inputNumber id="inptId" decimalPlaces="0" value="#{carListMB.id}"/>
                            <p:spacer height="5"/>
                            <p:commandButton id="brFind"
                                             value="Find"
                                             action="#{carListMB.findCarById(carListMB.id)}"
                                             process="@form"
                                             update="@form"
                                             styleClass="btn-flat bg-black btn-states"
                                             partialSubmit="true"/>
                        </f:facet>
                        <p:column selectionMode="multiple" width="5%" styleClass="align-center"/>

                        <p:column headerText="Model" filterBy="#{c.model}" sortBy="#{c.model}"
                                  filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:autoComplete value="#{carListMB.filter.entity.model}" forceSelection="true"
                                                minQueryLength="2" queryDelay="500" dropdown="true"
                                                completeMethod="#{carListMB.completeModel}" maxResults="10">
                                    <p:ajax event="itemSelect" process="@this" update="@none"
                                            oncomplete="PF('carsTable').filter()"/>
                                </p:autoComplete>
                            </f:facet>
                            <p:link value="#{c.model}" outcome="/car-form" >
                                <f:param name="id" value="#{c.id}"/>
                            </p:link>

                        </p:column>
                        <p:column headerText="Name" sortBy="#{c.name}" filterBy="#{c.name}">
                            <f:facet name="filter">
                                <p:inputText value="#{carListMB.filter.entity.name}">
                                    <p:ajax process="@this" update="@none" oncomplete="PF('carsTable').filter()"/>
                                </p:inputText>
                            </f:facet>
                            #{c.name}
                        </p:column>
                        <p:column headerText="Price" sortBy="#{c.price}" filterBy="#{c.price}">
                            <f:facet name="filter">
                                <p:spinner value="#{carListMB.filter.entity.price}">
                                    <f:converter converterId="jakarta.faces.Double"/>
                                    <p:ajax process="@this" update="@none" oncomplete="PF('carsTable').filter()"/>
                                </p:spinner>
                            </f:facet>
                            #{c.price}
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>



        <p:dialog header="Selected cars" widgetVar="selectedCars" height="250"
                  width="400" responsive="true" styleClass="box-success">
            <p:dataList id="selectedCarsList" value="#{carListMB.selectedCars}" var="car"
                        type="definition">
                ID: #{car.id} - Name: #{car.name} - Model: #{car.model}
            </p:dataList>
        </p:dialog>

    </ui:define>

</ui:composition>
